<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mentor-table">
    <ng-container matColumnDef="schools">
      <th mat-header-cell *matHeaderCellDef> 
        Schools
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: left;"> 
        {{element?.school?.short_name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef> 
        Students
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> 
        {{element?.studentCount}}
      </td>
    </ng-container>
    <ng-container matColumnDef="corrections">
      <th mat-header-cell *matHeaderCellDef> 
        Corrections
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> 
        {{element?.correctionCount}}
      </td>
    </ng-container>
    <ng-container matColumnDef="diff">
      <th mat-header-cell *matHeaderCellDef> 
        Diff
      </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> 
        {{element?.diff}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
</div>
